@import url("../../../../../packages/ds/src/styles.css");

body {
	background-color: #DBF0FD;
	background-image: linear-gradient(to top right, hsl(203, 88%, 90%), hsl(202.5, 100%, 96.9%));
	background-attachment: fixed;
}